*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    
    font-family: 'Bodoni Moda', serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: fixed;
    z-index: 999;
    font-size: 80%;
    background-color: rgb(143, 37, 12, 0.5);
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.dropbtn {
    color: black;
    font-family: 'Bodoni Moda', serif;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:rgb(143, 37, 12, 0.5)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(143, 37, 12, 0.5);
  }

section{
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
}

section.home{
    width: 100%;
    float: left;
    height: 50vh;
    position: relative;
    text-align: right; 
}

#home{
   background-image: linear-gradient(rgba(63, 62, 62, 0.6),rgba(63,62,62,0.6)), url(image/nathan-dumlao-GkyrU8Olw2c-unsplash.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
    
    .title h1{color: #fff;
    font-size: 40px;

}

    .button{position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);}
    
    .btn {border:1px solid #fff;
    padding:10px 30px;
    color:#fff;
    text-decoration: none;
    transition: 0.6s ease;}
    
    .btn:hover{
        background-color: #ffffff;
       color: #000;}

#about{
     background-color: #ffffff;
}

.about-section{
    background-color: #ffffff;
    overflow: hidden;
}

.inner-container{
    width: 50%;
    float: right;
    background-color: rgb(212, 202, 145);
    padding-bottom: 22.5%;
    padding-top: 25%;
    padding-right: 10%;
    padding-left: 5%;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.side-container{
    float: left;
   
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

#ourmenu{
    background-color: #ffffff;
     background-size: cover;
     background-position: center;
    
}
.food-menu-heading{
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: #666;
    padding-top: 40px;
    padding-bottom: 50px;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.food-menu-container img{
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    padding-left: 25px;

}

.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    
}

.food-description{
    margin: auto 1.5rem;
}

.food-title{
    font-size: 25px;
    font-weight: 600;
    color: #444;
    padding: 5px;
}

.food-description p{
    font-size: 15px;
    color: #555;
    font-weight: 600;
    padding: 5px;
}

.food-description .food-price{
    color: #552;
    font-weight: 700;
    font-size: 25px;
    padding: 5px;
}


#ourservices{
     background-color: rgb(212, 202, 145);
     padding-top: 40px;
     padding-bottom: 80px;
     font-size: 50px;
}

#ourgallery{
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 50px;
}

.tables{
    padding-left: 10%;
}

#gallery{
     background-color: #ffffff;
}

#teammembers{
    background-color:  rgb(212, 202, 145);
    padding-bottom: 5%;
}

#contactus{
    background-color:  #fff;
    padding-top: 5%;
}

#joinus{
    background-color: rgb(212, 202, 145);
}

h1{
    position: absolute;
    padding-bottom: 5%;
    padding-left: 10%;
    transform: translate(-50%, -50%);
    color:black;
}

.our-gallery{
    padding-bottom: 40%;
}
 .background{
    padding-bottom: 10%;
 }

th {
    text-align: left;
}
.resize{
    width: 50px;
    height: 50px;
    padding-right: 20%;
}

.topic{
    color: black;
    padding-top: 10%;

}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.second-table{
    padding-left: 5%;
    padding-bottom: 5%;
    float: right;
}

.heading-side{
    float: left;
    padding-left: 10%;
    padding-top: 5%;
}

.right-side{
    float: right;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.left-side{
    float: left;
    padding-left: 10% ;
    padding-top: 7%;
}

 h3{
     font-size: 20px;
     margin-top: 5%;
 }

 footer{
    padding-bottom: 5%;
    padding-left: 5%;
 }
